@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --body-bg: #333;

    --demo-theme-color: #ece7df;
    --demo-theme-color-light: #f5f4f2;
    --demo-white-color: #ffffff;
    --demo-body-bg: #000000;

    --white: #ffffff;
    --black: #000000;
    --off-white: #faf0e6;
    --off-black: #434339;
    --blue: #6495ed;
    --red: #e33d74;
    --light-orange: #f6c347;
    --orange: #edb52f;
    --dark-orange: #c78f01;
    --dark-orange-alt: #857550;

}

  @layer base{

  body {
    @apply font-open  min-w-80;
  }
  }

  @layer utilities {
    .container {
      @apply px-6 max-w-[1218px] mx-auto;
    }
  }
